@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
    
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
     text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    background-color: black;
}

.stars {
    background-image: url(images/stars.svg);
    width:100%;
    height:100vh;
    -webkit-animation: scale 10s ease infinite alternate;
    animation: scale 10s ease infinite alternate;
}

@-webkit-keyframes scale {
    
0% {
        -webkit-transform: scale(1, 1);
}

100% {
        -webkit-transform: scale(1.2, 1.2);
}
}
@keyframes scale {
    
0% {
            transform: scale(1, 1);
}

100% {
            transform: scale(1.2, 1.2);
}
}

.asteroid {
    position: absolute;
    width: 200px;
    height: 200px;
    top:200px;
    left:200px;
    -webkit-animation: box-rotate 8s linear infinite;
    animation: box-rotate 8s linear infinite;
}

@-webkit-keyframes box-rotate {
    
0% {
        -webkit-transform: rotate(0deg);
}

100% {
        -webkit-transform: rotate(360deg);
}
}

@keyframes box-rotate {
    
0% {
        transform: rotate(0deg);
}

100% {
        transform: rotate(360deg);
}
}

.ship {
    position: absolute;
    right:100px; 
    top:100px;
    -webkit-animation: bounce 3000ms ease infinite alternate;
    animation: bounce 3000ms ease infinite alternate;
}

@-webkit-keyframes bounce {
  
0% {
        -webkit-transform: translateY(0);}    
50% {
        -webkit-transform: translateY(500px);}
65% {
        -webkit-transform: translateY(170px);}
75% {
        -webkit-transform: translateX(-500px);}
86.75% {
        -webkit-transform: translateY(170px);}
100% {
        -webkit-transform: translateY(500px);}
}

@keyframes bounce {
  
0% {
        transform: translateY(0);}    
50% {
        transform: translateY(500px);}
65% {
        transform: translateY(170px);}
75% {
        transform: translateX(-500px);}
86.75% {
        transform: translateY(170px);}
100% {
        transform: translateY(500px);}
}